.btn-default1{
	border-color:white;
	color:white;
	background-color: #598BB9;
	border-radius: 10px;
	width: 200px;
	height: 50px;

}
.largo{
	height: 300px;
	margin-bottom: 30px;
	margin-top:30px;
}
#m{
	margin-top: 30px;
	margin-bottom: 30px;
}