
#background{
	background-image: url(../images/slider/bg1.jpg);
	color:white;
	height: 480px;
	background-size:1250px;
}
h2{
	margin-top: 200px;
}
#b-red{
	background-color: #DC5645;
	color:white;
	text-align: center;
	padding-top: 20px;
}
.mayor{
	background-color: #DC3C3C;

}

.mayor1{
	background-color: #DC3C3C;
	margin-left: -9px;

}
.linea{
	width: 4px;
	height: 80px;
	background-color: white;
	margin-top: 12px;
	margin-left: 100%;

}
#b-red1{
	background-color: #DC5645;
	color:white;
	padding: 20px;
}
.cuadro{
	height: 190px;
	margin-bottom: 60px;
	width: 100%;
}
.verde{
	padding: 40px;
}
.fa-twitter {
	background-color: #667666;
	border-radius: 360px;
	color:white;
	padding: 12px;
	width: 40px;
	height: 40px;
	text-align: center;
	
}
.fa-facebook {
	background-color: #667666;
	border-radius: 360px;
	padding: 12px;
	color:white;
	width: 40px;
	height: 40px;
	text-align: center;
}
.fa-google-plus {
	background-color:#667666;
	border-radius: 360px;
	padding: 12px;
	color:white;
	width: 40px;
	height: 40px;
	text-align: center;
}

